html{
	background-color: white;

}
body{
	margin: 0;
	padding:0;
	background-color: white;
	color: black;

}
#environment{
	text-align: left;
	padding-top: 2%;
	margin-top: 0;
}


h1{
	background-color: #C0C0C0;
	color: #F06A00;
	font-family: Helvetica;
	margin: 0;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 2%;
}

.menu{
	background-color: #C0C0C0;
	font-family: Calibri;
	text-align: center;
	padding: 18px 0 18px 0;
	margin: 0;
	font-size: 20px;
	display: block;
}

.menu > li{
	display: inline-block;
	padding-right: 9.5%;
	padding-left: 9.5%;
}

.menu > li > a{
	text-decoration: none;
	color: white;
}

.menu > li > a:hover{
	color: #F06A00;
}

.overskrift{
	color: black;
	text-align: center;
	font-family: Helvetica;
	text-align: left;
	margin-top: 3%;

	font-size: 1.5em;
	font-weight: bold;
}


#footer{
	background-color: #C0C0C0;
	color: #F06A00;
	font-family: 'Myriad pro';
	text-decoration: none;
	padding: 1rem;
	width: 100%;
	height: 20%;
	margin-top: 10%;

}
#presentation{
	
	display: inline-block;
	font-family: sans-serif;
	font-size: 13px;
	line-height: 20px;
	width: 40%;
	margin-left: 15%;
	
}
#pictures{
	display: inline-block;
	float: right;
	
	margin-top: 100px;
	padding-right: 15%;
	clear: right;
}
